.wiper {
  display: none;
  padding: 8px 12px;
  background-color: lightblue;
  clip-path: inset(0 100% 0 0); /* Start fully hidden from the right */
  transition: clip-path 0.5s ease-in-out;
}

.wiper.active {
  clip-path: inset(0 0 0 0); /* Fully revealed */
  display: inline-block
}
